<form class="form-register" id="form-id">
    <h4 id="titleForm">Añadir un producto</h4>
    <input class="form-control" type="text" name="title" id="title" placeholder="Ingrese el Titulo" autoComplete='off'/>
    <input class="form-control" type="number" name="price" id="price" placeholder="Ingrese el Precio" autoComplete='off'/>
    <input class="form-control" type="file" name="file" id="file" placeholder="Ingrese su imagen" autoComplete='off'/>
    <input class="btn btn-success" type="submit" value="Añadir" id="send">
    <button class="btn btn-dark" type="button" onclick="goToLink(this)" value="http://localhost:8080/products">Ver los productos</button>
</form>

<div id="tableListener">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
            <th scope="col">Título</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody id="dataListener">
        </tbody>
    </table>
</div>
{{>chat}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/listenerProducts.js"></script>

<script>
    let newProductData = document.getElementById('form-id');

    const handleSubmit = (evt, form, route) => {
        evt.preventDefault();
        let formData = new FormData(form);
        fetch(route, {
            method: "POST",
            body: formData,
        })
    }

    newProductData.addEventListener('submit', (e) => handleSubmit(e,e.target,'/products'))

</script>

<style>
    .form-register{
        margin-top: 30px;
        padding-bottom: 30px;
        border-bottom: 0.5px black solid;
    }
    #titleForm{
        padding-bottom: 20px;
        font-size: 40px;
    }
    .form-control{
        margin-bottom: 30px;
        padding: 3px;
        padding-left: 10px;
    }
    .table.table-striped.table-dark{
        margin-top: 30px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
</style>