<h1 class="title">Productos Disponibles:</h1>
{{#each objects}}
{{#if objects.lenght }}
    <p>No hay productos disponibles</p>
{{else}}
    <div class="row mt-4">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <img class="card-img-top" src="http://localhost:8080/img/{{this.thumbnail}}" alt="Card image">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">${{this.price}}</p>
            </div>
        </div>
    </div>
{{/if}}
{{/each}}
<div class="col-lg-6 offset-lg-3">
    <button class="botons" type="button" onclick="goToLink(this)" value="http://localhost:8080/">Añadir más productos</button>
</div>
<br>
<style>
    .title{
        text-align: center;
        font-family: 'calibri';
    }
    .card{
        text-align: center;
        padding: 10px;
    }
    .card:hover{
        transform: translateY(-2px);
        box-shadow: #133043  0 5px 7px;
    }
    .card-text{
        color: green;
    }
    .botons{
        width: 100%;
        background: #133043;
        border: none;
        padding: 12px;
        margin-top: 30px;
        color: white;
        font-size: 16px;
        border-radius: 10px;
        font-family: 'calibri';
    }
    .botons:hover{
        transform: translateY(-2px);
        box-shadow: #0b1b25  0 5px 7px;
    }
</style>