<div class="CenterMessages">
    <h3 class="titleMessages">Centro de Mensajes</h3>
    <input id="chatBox" class="form-control" placeholder="Escribe aquí tu mensaje">
    <input type="submit" id="success" class="btn btn-success">
    </br>
</div>
<div class="History">
    <span id="log"></span>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>

<style>
    .CenterMessages{
        margin-top: 30px;
        margin-bottom: 30px;
        border-bottom: 0.5px black solid;
        padding-bottom: 20px;
    }
    .titleMessages{
        margin-bottom: 20px;
    }
    .History{
        margin-bottom: 30px;
    }
</style>